<!DOCTYPE html>
<html lang="en">
</head>
    <meta charset="UTF-8">
    <title>Functions</title>
</head>
<body>
<ul>
    {{range. }}
    <li>{{uc .Name}}</li>
    {{end}}
</ul>
<ul>
    {{range. }}
    <li>{{uc .Accomplishment}}</li>
    {{end}}
</ul>
</body>
</html>