<!DOCTYPE html>
<html lang="en">
</head>
    <meta charset="UTF-8">
    <title>Functions</title>
</head>
<body>

<h1>{{.Name}}</h1>
<h2>{{.Age}}</h2>
{{if .Invisibility}}
<h3>Invisibility</h3>
{{else}}
<h3>Visibility</h3>
{{end}}
</body>
</html>